p {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.centered
{
	align: center;
	text-align: center;
}

.P_Body_Text {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Body_Text_First_Indent {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.20em;
}

h1 {
font-weight: bold;
font-size: 2.08em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h2 {
font-weight: bold;
font-size: 1.25em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h3 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.80em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Auteur {
font-weight: bold;
font-size: 1.33em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Source {
font-size: 1.00em;
text-align: right;
margin-top: 0.20em;
margin-bottom: 0.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Introduction {
font-style: italic;
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}
