/* Structure */

h1,h2,h3 {text-align: center;}
h4,h5,h6 {text-align: left;}
h1 {
	page-break-before: always;
	font-size: 200%;
}

.subtitle {
	font-size: 120%;
	text-align: center;
	margin-bottom: 0;
}

/* Corps */

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

p {
	text-align: justify;
	text-indent: 1em;
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

hr {
	auto;
	width:8em;
	height:1px;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:auto;
	margin-right:auto;
	border:none;
	background:black;
}

sup {font-size: 67%;vertical-align: 33%;}

/* ID */

#publication {
	vertical-align: super;
	text-align: center;
	font-size: 0.9em;
}

#author
{
	text-align: center;
	font-size: 120%;
	font-style: italic;
}

.logo{align: center;text-align: center;}

#couverture {
	max-height:50%;
	align:center;
	text-align:center;
}

/* Classes */

.note {vertical-align: super;font-size: 0.9em;}

.epigraphe {
	text-align: center;
	margin: 1em;
	font-size: huge;
}

.nom{font-variant: small-caps;}

.groupe,.oeuvre{font-style: italic;}

.centered{align: center; text-align: center;}

.legende{text-align: right;}
.citation{text-align: justify; margin: 2%;}
.citationChanson{text-align: center;}
