/* Structure */

h1,h2,h3 {text-align: center;}
h4,h5,h6 {text-align: left;}
h1 {
	page-break-before: always;
	font-size: 200%;
}

/* Corps */

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

p {
	text-align: justify;
	text-indent: 1em;
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

table {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

td {text-align: left;}
tr {margin-top: 0.1em;}

ul,li {text-indent: 0; text-justify: justify;}

sup {font-size: 67%;vertical-align: 33%;}

/* ID */

#author
{
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}

#subtitle {
	font-size: 120%;
	text-align: center;
	font-style: italic;
}

#couverture {
	max-height:50%;
	align:center;
	text-align:center;
}

/* Classes */

.publication {
	vertical-align: super;
	text-align: center;
	font-size: 0.9em;
}

.emph {font-weight: bold;}

.logo,.centered{align: center;text-align: center;}

.note {vertical-align: super;font-size: 0.9em;}

.epigraphe {
	text-align: center;
	margin: 1em;
	font-size: huge;
}

.nom{font-variant: small-caps;}

.groupe,.oeuvre{font-style: italic;}

.legende{text-align: right;}
.citation{text-align: justify; margin: 2%;}
.citationChanson{text-align: center;}
