/* Structure */

h1,h2,h3 {text-align: center;}
h1 {
	page-break-before: always;
	font-size: 200%;
}

/* Corps */

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

p {
	text-align: justify;
	text-indent: 1em;
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

hr {
	auto;
	width:8em;
	height:1px;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:auto;
	margin-right:auto;
	border:none;
	background:black;
}

/* ID */

#logo{align: center;text-align: center;}

#couverture {
	max-height:50%;
	align:center;
	text-align:center;
}

/* Classes */

.centered{align: center; text-align: center;}