/* Structure */

h1,h2 {text-align: center;}
h1 {
	page-break-before: always;
	font-size: 200%;
}

/* Corps */

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

p {
	text-align: justify;
	text-indent: 1em;
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

/* ID */

#publication {
	vertical-align: super;
	text-align: center;
	font-size: 0.9em;
}

#author
{
	text-align: center;
	font-size: 120%;
	font-style: italic;
}

#logo{align: center;text-align: center;}

/* Classes */

.centered{align: center; text-align: center;}
.citation{text-align: justify; margin: 2%;}