/* Structure */

h1,h2 {text-align: center;}
h1 {
	page-break-before: always;
	font-size: 200%;
}

/* Corps */

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

p {
	text-align: justify;
	text-indent: 1em;
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

sup {font-size: 67%;vertical-align: 33%;}

/* ID */

#author
{
	text-align: center;
	font-size: 120%;
	font-style: italic;
}

.logo{align: center;text-align: center;}

/* Classes */

.note {
	vertical-align: super;
	font-size: 0.9em;
}

.toc-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.toc-level-1 {
    margin-left: 0%;
}

.toc-level-2 {
    margin-left: 4%;
}