/* Structure */

h1,h2,h3 {text-align: center;}
h4 {text-align: left;}
h1 {
	page-break-before: always;
	font-size: 200%;
}

/* Corps */

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

p {
	text-align: justify;
	text-indent: 1em;
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

/* ID */

#fin {
	font-size: 150%;
	font-style: italic;
	text-align: center;
	padding-top: 5%;
}

#publication {
	vertical-align: super;
	text-align: center;
	font-size: 0.9em;
}

#author
{
	text-align: center;
	font-size: 120%;
	font-style: italic;
}

/* Classes */

.logo{align: center;text-align: center;}

.nom{font-variant: small-caps;}

.centered{align: center; text-align: center;}

.citation{text-align: justify; margin: 2%;}