ul, ol { margin:0em; padding:0em; }
th, td { vertical-align:top; text-align:left; }

p {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Body_Text {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Body_Text_First_Indent {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.20em;
}

h1 {
font-weight: bold;
font-size: 2.08em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h2 {
font-weight: bold;
font-size: 1.25em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h3 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.80em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Comment {
text-align: initial;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Headers {
font-size: 1.00em;
text-transform: uppercase;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Footers {
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_HTML {
font-size: 0.83em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Preformatted {
font-size: 0.83em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Centre {
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Right {
font-size: 1.00em;
text-align: right;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_TOC_Heading {
font-weight: bold;
font-size: 1.33em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_TOC_Entry_1 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 1.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_TOC_Entry_2 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 2.40em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_TOC_Entry_3 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 3.60em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_TOC_Entry_4 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 4.80em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_TOC_Entry_5 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 6.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_TOC_Entry_6 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 7.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Index_Heading {
font-weight: bold;
font-size: 1.33em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Index_Group_Heading {
font-weight: bold;
font-size: 1.17em;
text-align: justify;
margin-top: 1.20em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Index_Entry_1 {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 1.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Index_Entry_2 {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 2.40em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Index_Entry_3 {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 3.60em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Endnotes_Heading {
font-weight: bold;
font-size: 1.33em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Footnote {
font-size: 0.83em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Endnotes_Group {
font-size: 1.17em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Picture_Caption {
font-style: italic;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Table_Caption {
font-style: italic;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Bibliography_Heading {
font-weight: bold;
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Bibliography_Group {
font-weight: bold;
font-size: 1.00em;
text-align: justify;
margin-top: 0.60em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Bibliography_Entry {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 1.80em;
margin-right: 0.00em;
text-indent: -1.80em;
}

.P_Only_Epub {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Only_Epub_3 {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Only_Text {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Sous-titre {
font-size: 1.67em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Auteur {
font-weight: bold;
font-size: 1.33em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Source {
text-align: right;
margin-top: 0.20em;
margin-bottom: 0.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_Introduction {
font-style: italic;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Only_OpenDocument {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Only_HTML {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_Cite {
font-style: italic;
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.50em;
margin-right: 0.00em;
text-indent: 1.50em;
}

.P_Normal__And__Centre_Alignment {
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
}

.P_ListItem {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
list-style-image: none;
margin-left: 2.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_ListParagraph {
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_ListItem_1 {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
list-style-image: none;
margin-left: 2.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.P_ListParagraph_1 {
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.C_Citation {
font-style: italic;
}

.C_Comment_Text {
background-color: #FEFFBB;
}

.C_Comment_Content {
background-color: #D9DAFF;
}

.C_URL {
text-decoration: underline;
color: #0000FF;
}

.C_HTML_Text {
font-size: 10pt;
color: #808080;
}

.C_Drop_Caps {
line-height: 90%;
height: 0.75em;
font-size: 280%;
margin-right: 0.075em;
float:left;
}
.C_Small_Caps {
font-size: 8pt;
}

.C_Current__And__Italic {
font-style: italic;
}

.C_Current__And__Bold {
font-weight: bold;
}

.C_Current__And__Blue_Text__And__Bold__And__Underline {
font-weight: bold;
text-decoration: underline;
color: #0000FF;
}

.B_Simple_boite {
padding-left: 1.00mm;
padding-top: 1.00mm;
padding-right: 1.00mm;
padding-bottom: 1.00mm;
border-left-width: 1.00pt;
border-top-width: 1.00pt;
border-right-width: 1.00pt;
border-bottom-width: 1.00pt;
border-left-color: #000000;
border-top-color: #000000;
border-right-color: #000000;
border-bottom-color: #000000;
border-left-style: solid;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
}

